<%# <nav class="navbar navbar-expand-lg navbar-dark bg-primary" style = "margin-left: 100px;"> %>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top">
    <div class="container-fluid">
        <div class="row" >
        <div class="col d-block d-md-none">
            <a class="navbar-brand ms-3" href="/"><i class="fas fa-home"></i></a>
        </div>
        <div class="col d-none d-md-block">
            <a class="navbar-brand ms-3" href="/">VirtualFitnessRoom</a>
        </div>
        </div>
        <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarChange" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarChange" style="">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Auccueil</a>
                </li>
                <li class="nav-item">
                    <%= link_to "Programes", programmes_path, class:"btn btn-secondary ms-4 w-75" %>
                </li>
                <li class="nav-item">
                    <%= link_to "Utilisateurs", userall_path, class:"btn btn-secondary ms-4 w-75" %>
                </li>
                <li class="nav-item">
                    <a href="<%= rails_admin_path %>" class="btn btn-info ml-2 " role="button">Management</a>
                </li>
                <% if user_signed_in?  && current_user.admin %> 
                    <li class="nav-item">
                        <%= link_to "Mon profile", profil_path, class:"btn btn-secondary ms-4 w-75" %>
                        <a class="nav-link" href="/">Utilisateurs</a>
                    </li>
                <% end %>
            </ul>

            <% if user_signed_in? %> 
                 <div class="dropdown">
                    <a href="#" class="me-2 d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <% if current_user.avatar? %>
                            <%= image_tag current_user.avatar.url, class:"rounded-circle", height:32, width:32, alt:"Avatar" %>
                        <% else %>
                            <img src="/avatar.png" class="rounded-circle",height="32", width="32", alt="Avatar" >
                        <% end %>
                    </a>
                    <ul class="dropdown-menu text-small text-decoration-none mt-2 " aria-labelledby="dropdownUser1">
                        <%= link_to "Mon profile", profil_path, class:"btn btn-secondary ms-4 w-75" %>
                        <li><hr class="dropdown-divider"></li>
                        <%= link_to "Déconnecter", destroy_user_session_path, method: :delete, class:"btn btn-danger ms-4 w-75" %>
                    </ul>
                </div>
                <a href="<%= new_user_invitation_path %>" class="ms-2 me-5 btn btn-success" role="button">Invitation</a>

            <% else %>
                <div class="d-flex">
                    <a class="btn btn-success me-2" href="<%= new_user_session_path %>" role="button"><%= t("button.log_in") %></a>
                    <a class="btn btn-warning ms-2 me-5" href="<%= new_user_registration_path %>" role="button"><%= t("button.sign_up") %></a>
                </div>
            
            <% end %>
            
        </div>
    </div>
</nav>