
<div class="d-flex flex-row justify-content-center align-items-center container mt-5 mb-4">
    <div class="mt-5">
        <h1><%= t("users.details") %></h1> <br>
        <p><strong><%= t("users.username") %>: </strong><%= @user.username if @user.username %></p>
        <p><strong><%= t("users.lastname") %>: </strong><%= @user.lastname if @user.lastname %></p>
        <p><strong><%= t("users.firstname") %>: </strong><%= @user.firstname if @user.firstname %></p>
        <p><strong>Profession: </strong><%= @user.profession if @user.profession %></p>
        <p><strong>Contact: </strong><%= @user.contact if @user.contact %></p>
        <p><strong>Poids: </strong><%= @user.weight if @user.weight %> kg</p>
        <p><strong>Taille: </strong><%= @user.height if @user.height %> cm</p>


        <p><strong><%= t("users.address") %>: </strong><%= @user.address if @user.address %></p>
        <p><strong><%= t("users.email") %>: </strong><%= @user.email if @user.email %></p>
        <%= link_to t("button.edit"), edit_user_registration_path, class: "btn btn-warning" %> |
        <%= link_to t("button.back"), root_path, class: "btn btn-success"%>
    </div>
</div> <br><br>
